
/*=======================================================
          
                     G o o d L u c k 

=========================================================*/

/*used to be Ubuntu*/

body, html {
    height: 100vh;
    width: 100vw;
    margin:0;
    font-family: 'Poppins', sans-serif;
    line-height: 300%;
    color: #666;
    text-align: center;
}
.scene1 {
    background-image: url(img/background/bg.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 100%;
    transform: translateZ(-1px) scale 2.2;
}
/*
.maria_s1{
    position: relative;
    right: 200px;
    top: 200px;

}
*/
.ghetto_night{
    height: 100vh;
    width: 100vw;
}

.scene2 {
    background-image: url(img/background/kitchen.jpg);
    min-height: 100%;
}

.scene2half {
    background-image: url(img/background/border.jpg);
    min-height: 100%;
}

.scenewhy{
    background-color: #21618C;
    min-height: 100%;
}

.maria_s2{
    position: relative;
    top: 200px;
    right: 200px;
}

.scene3 {
    background-image: url(img/background/ghetto_day.jpg);
    min-height: 100%;
}

.maria_s3{
    position: relative;
    left: 850px;
    top: 80px;
}

.gang{
    position: relative;
    right: 600px;
    top: 70px;
    height: 50%;
    width: 50%;
}

#motivation_dataviz {
    /*position: relative;
    left: 300px;*/
}

#motivation_text {
    position: relative;
    left: 100px;
    text-align: left;

}

.dataframe3{
    background-color: bisque;
    background-size: cover;

}

.scene4 {
    background-image: url(img/background/railway.jpg);
    min-height: 100%;
}

.maria_s4{
    position: relative;
    top: 200px;
    right: 300px;
}

.scene1, .scene2, .scene2half, .scenewhy, .scene3, .scene4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
}

#names {
    position: relative;
    top: 250px;
    color: #ffffff;
}

.head {
    position: absolute;
    color: #fff;
    font-size: 3vw;
    top:20%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    font-family: 'Poppins';
}

.bodytext {
    position: relative;
    left: 900px;
    color: #ffffff;
    font-size: 2vw;
    text-align: left;
    letter-spacing: 5px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    font-family: 'Poppins';
    background-color: #323232;
    padding-left: 10px;
}

.text1 {
    position: relative;
    top: 400px;
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 5px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    font-family: 'Poppins';
}

.head:hover{
    color:white;
}

section {
    overflow: auto;
    padding: 50px 80px;

}

.line {
    fill: none;
    stroke-width: 3px;
  }
  
.overlay {
    fill: none;
    pointer-events: all;
  }
  
.hover-line {
    stroke: #B74779;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }

footer{
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 8vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}


@keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }




  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  /*@import url('https://fonts.googleapis.com/css?family=Ubuntu'); IMPORTANT*/


  /*========T H A N K  Y O U=======*/

