
/*=======================================================
          
                     G o o d L u c k 

=========================================================*/

/*used to be Ubuntu*/

body, html {
    height: 100vh;
    width: 100vw;
    margin:0;
    font-family: 'Poppins', sans-serif;
    line-height: 300%;
    color: #666;
    text-align: center;
}
.scene1 {
    background-image: url(img/background/ghetto_night.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute; 
    min-height: 100%;
    transform: translateZ(-1px) scale 2.2;
}


/* This is code for disclaimer pop-up =====================================================================*/

.contentBox{
    position: absolute;
    display: none;
    top: 40%;
    left: 30%;
    width: 600px;
    height: 400px;
    background: black;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 80%;
    z-index: 1;
}

.imgBox{
    position: relative;
    width: 300px;
    height: 400px;
    /* display: flex; */
    justify-content: center;
    align-items: center;

}


.imgBox img{
    position: relative;
    top:80px;
    left: 1px;
    max-width: 250px;
    max-height: 600px;
    z-index: 5;

}

.contentBox .disclaimer_content{
    position: relative;
    width: 800px;
    height: 400px;
    top: 40px;
    opacity: 1;
    /* display: flex; */

}

.contentBox .disclaimer_content h2{
    font: bolder;
    color: white;
    line-height: 1em;
    font-weight: 1em;
    font-size: 2em;
    justify-content: center;
    padding-right: 50px;
    font-family:'Courier New', Courier, monospace;
}

.contentBox .disclaimer_content p{
    padding-right: 45px;
    font: bold;
    font-weight: 1000;
    opacity: 1;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 200%;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: plum url(img/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;

}
/* ========================================================================================================= */

/* Scene 2 =================================================================================================*/
.scene2 {
    background-image: url(img/background/kitchen.jpg);
    min-height: 100%;
}

.s2_content{
    position: absolute;
    background: black;
    border-radius: 10px;
    width: 70%;
    opacity: 80%;
    width: 800px;
    max-width: 70%;
    height: 100px;
    top: 20%;
    left: 55%;
    transform: translate(-30%, -90%);
}

.s2_content p{
    padding: 1px;
    font: 900;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
    line-height: 200%;
}

.maria_s2{
    position: absolute;
    top: 320px;
    left: 170px;
}

#map{
    height: 400px;
    display: none;

}


.flourish-map {
    margin: auto;
    width:50%;
    left: 30%;
    margin-top: 100px;
    /*margin-bottom: 100px;*/
}

.flourish-survey {
    margin: auto;
    width:50%;
}

#motitext{
    /*padding: 50px 80px;*/
    width: 100%;
    background-color: #585858;
    color: #f2f2f2;
}

/* Scene 2a =================================================================================================*/
.scene2a {
    background-image: url(img/background/living2_copy.jpg);
    min-height: 100%;
}

.s2a_content{
    position: absolute;
    background: black;
    border-radius: 10px;
    width: 70%;
    opacity: 80%;
    width: 800px;
    max-width: 70%;
    height: 100px;
    top: 20%;
    left: 55%;
    transform: translate(-30%, -90%);
}

.s2a_content p{
    padding: 1px;
    font: 900;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
    line-height: 200%;
}

.maria_s2a{
    position: absolute;
    top: 400px;
    right: 170px;
    width: 300px;
}

.flourish-bar-chart-race{
    margin: auto;
    width: 80%;
}

.flourish-household{
    width: 75%;
    margin: auto;
    margin-top: 100px;
    display: none;
}

#tv{
    display: block;
}

.object_button{
}

/* Scene 2b =================================================================================================*/
.scene2b {
    background-image: url(img/background/food_back.jpg);
    min-height: 100%;
}

.s2b_content{
    position: absolute;
    background: black;
    border-radius: 10px;
    width: 70%;
    opacity: 80%;
    width: 800px;
    max-width: 70%;
    height: 100px;
    top: 20%;
    left: 55%;
    transform: translate(-30%, -90%);
}

.s2b_content p{
    padding: 1px;
    font: 900;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
    line-height: 200%;
}

.maria_s2b{
    position: absolute;
    top: 350px;
    right: 170px;
    width: 400px;
}

.flourish-food-expenditure {
    margin: auto;
    width:75%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flourish-hunger {
    margin: auto;
    width:75%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flourish-food-category{
    margin: auto;
    width: 75%;
}

/* ========================================================================================================= */



.scenewhy{
    background-color: #21618C;
    min-height: 100%;
}



/* Scene 3: Maria & gang ================================================================================================================*/

.scene3 {
    background-image: url(img/background/ghetto_day.jpg);
    min-height: 100%;
}

.s3_content{
    position: absolute;
    background: black;
    border-radius: 10px;
    width: 70%;
    opacity: 80%;
    width: 800px;
    max-width: 70%;
    height: 100px;
    top: 20%;
    left: 55%;
    transform: translate(-30%, -90%);
}

.s3_content p{
    padding: 1px;
    font: 900;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
    line-height: 150%;
}

.maria_s3{
    position: absolute;
    left: 900px;
    top: 250px;
}

.gang{
    position: absolute;
    right: 600px;
    top: 100px;
    height: 90%;
    width: 55%;
}

/* End of Scene 3 ================================================================================================================*/




/* Scene 4: decision to migrate ========================================================================================================*/
.scene4 {
    background-image: url(img/background/railway.jpg);
    min-height: 100%;
}

.maria_s4{
    position: relative;
    top: 200px;
    right: 300px;
}

.s4_content{
    position: absolute;
    background: black;
    border-radius: 10px;
    width: 70%;
    opacity: 80%;
    width: 800px;
    max-width: 70%;
    height: 100px;
    top: 20%;
    left: 55%;
    transform: translate(-30%, -90%);
}

.s4_content p{
    padding: 1px;
    font: 900;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
    line-height: 150%;
}

/* End of Scene 4 ================================================================================================================*/


/* Scene 5: border scene ========================================================================================================*/
.scene5 {
    background-image: url(img/background/border.jpg);
    min-height: 100%;
}
.children_border{
    position: absolute;
    top: 30%;
    right: 15%;
}

.s5_content{
    position: absolute;
    background: black;
    border-radius: 10px;
    width: 70%;
    opacity: 80%;
    width: 800px;
    max-width: 70%;
    height: 100px;
    top: 20%;
    left: 55%;
    transform: translate(-30%, -90%);
}

.s5_content p{
    padding: 1px;
    font: 900;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
    line-height: 150%;
}

/* End of Scene 5 ================================================================================================================*/

.scene1, .scene2, .scene2a, .scene2b, .scenewhy, .scene3, .scene4, .scene5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll; /*Important*/
}

#names {
    position: relative;
    top: 250px;
    color: #ffffff;
}

/* This is the title font */
.head {
    position: absolute;
    color: #fff;
    font-size: 5vw;
    top:30%;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.bodytext {
    position: relative;
    left: 900px;
    color: #ffffff;
    font-size: 2vw;
    text-align: left;
    letter-spacing: 5px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #323232;
    padding-left: 10px;
}

.text1 {
    position: relative;
    top: 400px;
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 5px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
    font-family: 'Poppins';
}

.head:hover{
    color:white;
}

section {
    overflow: auto;
    padding: 50px 80px;

}

.line {
    fill: none;
    stroke-width: 3px;
  }
  
.overlay {
    fill: none;
    pointer-events: all;
  }
  
.hover-line {
    stroke: #B74779;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }

footer{
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 8vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}


@keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }




  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  /*@import url('https://fonts.googleapis.com/css?family=Ubuntu'); IMPORTANT*/


  /*========T H A N K  Y O U=======*/

